@import "@penpot/plugin-styles/styles.css";

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
  background-color: white;
  overflow: hidden;
}

p {
  margin-block-end: 0.75rem;
}

.logo {
  height: 50px;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

#content {
  width: 100%;
}

h3 {
  font-size: 1.2rem;
  margin: 15px 0 0 0;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

#tab-create {
  background-image: url('/images/dwarf.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

/******************************* TABS-SELECTORS */
.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tab-selector {
  cursor: pointer;
  font-weight: bold;
  color: #12dfb0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.tab-selector.current {
  background-image: url('/images/marker.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  color: black;
}


/******************************* BOX */
.box {
  border: 1px solid #ACD8D0;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya', serif;
  justify-content: center;
  margin: 70px auto auto;
  min-width: 600px;
  padding: 55px 30px 15px;
  position: relative;
  text-align: center;
}

.box.box-small {
  width: 600px;
  height: 420px;
}

.box .art {
  position: absolute;
  top: -64px;
  left: calc(50% - 65px);
  right: calc(50% - 65px);
  width: 130px;
}

.box .art img {
  height: 100%;
  width: 100%;
}

.box .corner {
  position: absolute;
}

.box .corner.top-left {
  left: -14px;
  top: -22px;
  transform: rotate(-90deg);
}

.box .corner.top-right {
  right: -18px;
  top: -18px;
}

.box .corner.bottom-left {
  bottom: -18px;
  left: -18px;
  transform: rotate(-180deg);
}

.box .corner.bottom-right {
  bottom: -22px;
  right: -14px;
  transform: rotate(90deg);
}

.box .corner.bottom {
  bottom: -22px;
  left: 0;
  width: 100%;
}

/**************************** INPUTS */

.row-input {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.row-input>* {
  margin-right: 2rem;
}

.row-input>*:last-child {
  margin-right: 0;
}

.row-input:first-child {
  margin-top: 0;
}

.input-text {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.input-text label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  text-align: left;
}

.input-text input,
.input-text select,
.input-text textarea {
  background: #fff;
  border: 1px solid #acd8d0;
  box-shadow: inset 0px 2px 2px rgba(21, 51, 60, 0.5);
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  height: 50px;
  padding: 1rem;
}

.input-text input::placeholder,
.input-text select::placeholder,
.input-text textarea::placeholder {
  color: #697a93;
}

.input-text input:focus,
.input-text select:focus,
.input-text textarea:focus {
  border-color: #12dfb0;
}

.input-text select {
  padding: 0 1rem;
}

.input-text input[type="color"] {
  padding: 0.2rem 0.8rem 0.2rem 80%;
  position: relative;
  width: 100%;
}

.input-text input[type="color"]::before {
  color: #697a93;
  content: "Pick a color";
  left: 1rem;
  position: absolute;
  top: 0.7rem;
}

.modal-buttons {
  align-items: center;
  display: flex;
  margin-top: 2.5rem;
}

.modal-buttons .btn-primary {
  margin-left: auto;
}


/****************************** BUTTONS */
.btn-primary {
  align-items: center;
  background: linear-gradient(180deg, #27243e 8.84%, #4ea797 81.77%, #3fd1b7 100%);
  box-shadow: inset 0px 0px 4px #000;
  border: 2px solid #2a6b61;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: 'Alegreya', serif;
  font-size: 1.1rem;
  font-weight: bold;
  height: 47px;
  justify-content: center;
  overflow: visible;
  padding: 0 1em;
  position: relative;
  text-shadow: 0 -2px 2px #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary::before,
.btn-primary::after {
  background-image: url("/images/buttonpath.svg");
  background-repeat: no-repeat;
  content: "";
  height: 130%;
  position: absolute;
  width: 40px;
}

.btn-primary::after {
  right: -18px;
  top: -7px;
  transform: rotate(180deg);
}

.btn-primary::before {
  left: -18px;
  top: -6px;
}

.btn-primary:hover {
  background: #12dfb0;
  box-shadow: none;
  color: #2a6b61;
  text-shadow: none;
}

.btn-primary.btn-line {
  background: #fff;
  box-shadow: none;
  border-color: #000;
  color: #000;
  text-shadow: none;
}

.btn-primary.btn-line::before,
.btn-primary.btn-line::after {
  background-image: url("images/button-ribbon.svg");
}

.btn-primary.btn-line:hover {
  color: #33b7a4;
}

.btn-primary.current {
  opacity: 0.4;
}

.btn-primary.current:hover {
  color: #000;
}

.btn-primary svg {
  margin-right: 0.6rem;
}

.btn-primary.disabled {
  opacity: 0.5;
  cursor: none;
}


.btn-primary.btn-cancel {
  background: linear-gradient(180deg, #372e1f 8.84%, #6a3938 81.77%, #b73f55 100%);
  border: 2px solid #5e4d47;
}


/********************************** CARDS */
.cards-header {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 25px;
  line-height: 50px;
  background-color: #efefef;
  font-weight: bold;
  padding-left: 25px;
}

.cards-header div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards-list {
  width: 100%;
  height: 375px;
  overflow: scroll;
}

.card-entry {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  gap: 25px;
  padding-left: 25px;
}

.forge-entry {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  border-top: 1px solid #1a5c52;
  align-items: center;
}

.card-actions {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.card-actions div {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.card-action-delete {
  background-image: url("/images/trash.svg");
  background-repeat: no-repeat;
}

.card-action-delete:hover {
  background-image: url("/images/trash-hover.png");
  background-repeat: no-repeat;
}

.card-action-copy {
  background-image: url("/images/copy.svg");
  background-repeat: no-repeat;
}

.card-action-copy:hover {
  background-image: url("/images/copy-hover.png");
  background-repeat: no-repeat;
}

.card-entry:hover .card-actions {
  visibility: visible;
}

.card-actions img {
  width: 20px;
  height: 20px;
}

.card-num {
  width: 50px;
  line-height: 50px;
}

.card-text {
  width: 150px;
  display: flex;
  align-items: center;
}

.card-text input {
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #acd8d0;
  box-shadow: inset 0px 2px 2px rgba(21, 51, 60, 0.5);
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.card-image {
  width: 100px;
  text-align: center;
}

.card-image img {
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.card-image-full img:hover {
  position: relative;
  z-index: 1000;
  transform: scale(5);
}

.card-entry:nth-child(-n + 2) .card-image-full img:hover {
  transform: scale(5) translateY(15px);
}




.card-image input {
  display: none;
}

.btn-add {
  display: flex;
  align-content: center;
  color: #1a5c52;
  cursor: pointer;
}

.btn-add-img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-image: url("/images/add-card.png");
  background-repeat: no-repeat;
}

.btn-add:hover {
  color: #33b7a4;
}

.btn-add:hover .btn-add-img {
  background-image: url("/images/add-card-hover.png");
}


/********************************  FORGE */


#box-forge .modal-buttons {
  justify-content: space-around;
}

#box-forge .modal-buttons .btn-primary {
  margin-left: 0;
}

#forge-explain {
  margin-top: 25px;
  height: 100px;
}

#forge-explain-warning {
  color: #6a3938;
}

/****************************** HELP */
#box-help .modal-buttons {
  justify-content: space-around;
}

#box-help .modal-buttons .btn-primary {
  margin-left: 0;
}

.help-text {
  height: 225px;
}

.help-text img {
  height: 225px;
}

.help-text img:hover {
  position: relative;
  z-index: 1000;
  transform: scale(2.3) translateY(-30px);
  border: 2px solid black;
}

.help-text p {
  margin-block-end: .5rem;
}